@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --black: #131313;
  --gray: #727272;
  --white: #fff;
  --orange: #ff900e;
  --bg: #fff4e7;
}
body {
  font-family: "Work Sans", serif;
  font-weight: 400;
}

/* shared style  */
.cmn-h2 {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: 700;
}
.cmn-p {
  color: var(--gray);
  font-size: 0.9rem;
  line-height: 1.62rem;
}
.cmn-btn {
  max-width: 12vw;
  padding: 18px;
  border-radius: 8px;
  background: var(--orange);
  color: var(--white);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
}

.display-flex {
  display: flex;
}

/* header style  */
#hero {
  background-color: var(--bg);
}

/* navbar styles here  */
#hero > .navbar {
  padding: calc(3px + 2vh) 7vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-nav {
  list-style: none;
  display: flex;
  gap: 2.25vw;
}
.right-nav > li > a {
  text-decoration: none;
  color: #424242;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 26px;
}
/* banner style  */
.banner {
  margin-top: calc(10px + 7vh);
}
.banner-content {
  width: 55vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
}
.banner-content > h1 {
  color: var(--black);
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
}
.banner-content > .cmn-p {
  text-align: center;
}
.banner-img {
  margin: 0 auto;
  max-width: 75vw;
  padding: 45px 0px;
}
.banner-img > img {
  width: 100%;
}

/* quick list as team style here  */
#quick-list {
  padding: 4vw 15vw;
}

.team {
  display: flex;
  align-items: center;
  gap: 3.802vw;
}
.team-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.team-img > img {
  width: 100%;
}
.team-content {
  max-width: calc(34vw + 10px);
}

.team-content .light-h2 {
  color: var(--gray);
  font-weight: 500;
}
.team-content .orange-h2 {
  color: var(--orange);
}
.team-content>.cmn-p{
  margin: 1.4rem 0 1.8rem 0 ;
}

/* responsive for mobile  */
@media screen and (max-width: 575px) {
  /* shared style for mobile  */
  .cmn-h2 {
    font-size: 2rem;
  }
  .cmn-btn {
    max-width: 50vw;
    font-size: 1.1rem;
  }
  #hero > .navbar {
    flex-direction: column;
    gap: 2vh;
  }
  .banner {
    margin-top: calc(2px + 2vh);
  }
  .banner-content {
    width: 90vw;
    gap: 1rem;
  }
  .banner-content > h1 {
    font-size: 2rem;
  }
  .banner-img {
    margin: 0 auto;
    padding: 25px 0px;
    max-width: 85vw;
  }


  #quick-list {
    padding: 4vw 10%;
  }
  .team {
    flex-direction: column;
  }
  .team-img {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .team-content {
    max-width: 85vw;
  }
  .team-content>.cmn-p{
    margin: 1rem 0 1.25rem 0 ;
  }

}
/* responsive for table  */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .cmn-h2 {
    font-size: 2.25rem;
  }
  .cmn-btn {
    max-width: 50vw;
    font-size: 1rem;
  }
  #hero > .navbar {
    flex-direction: column;
    gap: 3vh;
  }
  .banner {
    margin-top: 0;
  }
  .banner-content {
    width: 90vw;
    gap: 1rem;
  }
  .banner-content > h1 {
    font-size: 2.25rem;
  }

  #quick-list {
    padding: 4vw 10%;
  }
  .team {
    flex-direction: column;
  }
  .team-img {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }
  .team-content {
    max-width: 85vw;
  }
  .team-content>.cmn-p{
    margin: 1rem 0 1.25rem 0 ;
  }
}
