@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --black: #131313;
  --gray: #727272;
  --white: #fff;
  --orange: #ff900e;
  --bg: #fff4e7;
}
body {
  font-family: "Work Sans", serif;
  font-weight: 400;
}

/* shared style  */
.cmn-h2 {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: 700;
}
.cmn-h4 {
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 600;
}
.cmn-h5 {
  color: var(--gray);
  font-size: 1.25rem;
  font-weight: 600;
}
.cmn-p {
  color: var(--gray);
  font-size: 0.9rem;
  line-height: 1.62rem;
}
.cmn-btn {
  max-width: 12vw;
  padding: 18px;
  border-radius: 8px;
  background: var(--orange);
  color: var(--white);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
}

.display-flex {
  display: flex;
}

/* header style  */
#hero {
  background-color: var(--bg);
}

/* navbar styles here  */
#hero > .navbar {
  padding: calc(3px + 2vh) 7vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-nav {
  list-style: none;
  display: flex;
  gap: 2.25vw;
}
.right-nav > li > a {
  text-decoration: none;
  color: #424242;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 26px;
}
/* banner style  */
.banner {
  margin-top: calc(10px + 7vh);
}
.banner-content {
  width: 55vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
}
.banner-content > h1 {
  color: var(--black);
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
}
.banner-content > .cmn-p {
  text-align: center;
}
.banner-img {
  margin: 0 auto;
  max-width: 75vw;
  padding: 45px 0px;
}
.banner-img > img {
  width: 100%;
}

/* quick list as team style here  */
#quick-list {
  padding: 4vw 15vw;
}

.team {
  display: flex;
  align-items: center;
  gap: 3.802vw;
}
.team-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.team-img > img {
  width: 100%;
}
.team-content {
  max-width: calc(34vw + 10px);
}

.team-content .light-h2 {
  color: var(--gray);
  font-weight: 500;
}
.team-content .orange-h2 {
  color: var(--orange);
}
.team-content > .cmn-p {
  margin: 1.4rem 0 1.8rem 0;
}
/* feature section style  */

#feature {
  margin: calc(6vh + 7px) 10%;
  display: flex;
  align-items: center;
  gap: 7vw;
}
.feature-content {
  max-width: 550px;
}
.feature-content > .cmn-h2 {
  border-left: 5px solid var(--orange);
  padding-left: 21px;
}
.feature-content > p {
  margin: 16px 0 22px 0;
}
.card-container {
  display: grid;
  gap: 10px;
}
.card-container > .card {
  border-radius: 8px;
  background: var(--white);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 22px 32px 15px 20px;
}
.card-container > .card > p {
  margin-top: 0.5rem;
}
#feature img {
  width: 100%;
}
.big-btn {
  max-width: 300px;
  border-radius: 8px;
  background: var(--orange);
  border: none;
  padding: 30px 25px;
  margin: -13vh 0 0 -4vw;

  color: var(--white);
  font-size: 3rem;
  font-weight: 700;
}
.exp {
  font-size: 1.5rem;
  font-weight: 500;
}
/* fact style  */
#facts {
  margin: calc(10vh + 10px) calc(9vw + 8px);
}
.fact-content {
  max-width: 510px;
}
.fact-content > p {
  margin: calc(2vh + 5px) 0 calc(8vh + 8px) 0;
}
.fact-container {
  margin-left: calc(2vw + 4px);
  margin-right: calc(2vw + 4px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.fact-item {
  padding: 30px 20px 30px 20px;
  text-align: center;
  width: 220px;
  height: 220px;
  border-radius: 8px;
  border: 1px solid #ff900e;
}
.fact-item > h2 {
  color: #424242;
  margin: 9px 0 5px 0;
}

/* sponsor section style here  */
#sponsor {
  margin: calc(15vh + 10px) 10vw 18vh 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}
#sponsor > p {
  margin-bottom: 15px;
  max-width: 510px;
}
.sponsor-img {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
}
.sponsor-img > img {
  width: 70%;
  filter: grayscale(100%);
}
/* responsive for mobile  */
@media screen and (max-width: 575px) {
  /* shared style for mobile  */
  .cmn-h2 {
    font-size: 2rem;
  }
  .cmn-btn {
    max-width: 50vw;
    font-size: 1.1rem;
  }
  #hero > .navbar {
    flex-direction: column;
    gap: 2vh;
  }
  .banner {
    margin-top: calc(2px + 2vh);
  }
  .banner-content {
    width: 90vw;
    gap: 1rem;
  }
  .banner-content > h1 {
    font-size: 2rem;
  }
  .banner-img {
    margin: 0 auto;
    padding: 25px 0px;
    max-width: 85vw;
  }
  #quick-list {
    padding: 4vw 10%;
  }
  .team {
    flex-direction: column;
  }
  .team-img {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .team-content {
    max-width: 85vw;
  }
  .team-content > .cmn-p {
    margin: 1rem 0 1.25rem 0;
  }
  #feature {
    flex-direction: column;
  }
  .feature-content {
    max-width: 90vw;
  }
  .feature-content > .cmn-h2 {
    padding-left: 10px;
  }
  .card-container {
    gap: 14px;
  }
  .card-container > .card {
    text-align: center;
    padding: 15px 20px 15px 20px;
  }
  .feature-img {
    display: grid;
    justify-items: center;
  }
  .big-btn {
    max-width: 45vw;
    padding: 20px 15px;
    margin: -6vh 0 0 0;
    font-size: 2rem;
  }
  .exp {
    font-size: 1rem;
  }
  #facts {
    margin: calc(7vh + 8px) calc(9vw + 8px);
  }

  .fact-content {
    text-align: center;
  }
  .fact-content > p {
    margin: calc(2vh + 2px) 0 calc(5vh + 5px) 0;
  }
  .fact-container {
    grid-template-columns: repeat(1, 1fr);
    gap: calc(2vh + 1px);
  }

  #sponsor {
    margin: calc(3vh + 2px) 5vw 10vh 5vw;
    gap: 10px;
  }
  #sponsor > p {
    max-width: 90vw;
  }
  .sponsor-img {
    gap: 10px;
  }
  .sponsor-img > img {
    width: 80%;
  }
}
/* responsive for tablet  */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .cmn-h2 {
    font-size: 2.25rem;
  }
  .cmn-btn {
    max-width: 50vw;
    font-size: 1rem;
  }
  #hero > .navbar {
    flex-direction: column;
    gap: 3vh;
  }
  .banner {
    margin-top: 0;
  }
  .banner-content {
    width: 90vw;
    gap: 1rem;
  }
  .banner-content > h1 {
    font-size: 2.25rem;
  }

  #quick-list {
    padding: 4vw 10%;
  }
  .team {
    flex-direction: column;
  }
  .team-img {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }
  .team-content {
    max-width: 85vw;
  }
  .team-content > .cmn-p {
    margin: 1rem 0 1.25rem 0;
  }
  #feature {
    margin: calc(6vh + 7px) 7%;
    flex-direction: column;
    gap: 7vh;
  }
  .feature-content {
    max-width: 90vw;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .big-btn {
    padding: 20px 15px;
    font-size: 2.25rem;
  }
  .exp {
    font-size: 1.25rem;
  }
  .fact-content {
    max-width: 75vw;
  }
  .fact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
  }


}
